{{#with rowSnippet}}
    <tr>
        <td><a href="{{linkFile}}">{{codeSnippetName}}</a></td>
        {{#if hasMeasure}}
            <td class="center">{{measureValue}}</td>
        {{/if}}
        {{#each scores}}
            <td class="center">{{this}}</td>
        {{/each}}
    </tr>
{{/with}}
